.card-columns {
    max-width: 1200px;
    margin: auto;
}

.card-img-top {
    height: 300px;
}

.card-text {
    text-align: center;
}

.food-name {
    font-size: 20px;
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}