
<div class="container11">
  <div class="row">
    <div class="col-sm">
      <a routerLink="/event">
      <div class="container">
          <img src="assets\Images\events.jpg" alt="Avatar" class="Linkimage image" style="width:100%">
          <div class="middle">
            <div class="text">Events</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm">
        <a routerLink="/food">
          <div class="container">
              <img src="assets\Images\food.jpg" alt="Avatar" class="Linkimage image" style="width:100%">
              <div class="middle">
                <div class="text">Food</div>
              </div>
            </div>
        </a>
     </div>
  </div>
  <div class="row">
    <div class="col-sm">
        <a routerLink="/Support">
          <div class="container">
              <img src="assets\Images\support.jpg" alt="Avatar" class="Linkimage image" style="width:100%">
              <div class="middle">
                <div class="text">Support</div>
              </div>
            </div>
        </a>
    </div>
    <div class="col-sm">
        <a routerLink="/Login">
          <div class="container">
              <img src="assets\Images\vchat.jpg" alt="Avatar" class="Linkimage image" style="width:100%">
              <div class="middle">
                <div class="text">Chat</div>
              </div>
            </div>
        </a>
    </div>
  </div>
</div>
