<div class="container">
  <div class="row">
    <div class="col-md-4"   >
  <img src="https://images.wallpaperscraft.com/image/flower_pink_petals_bud_close_up_119905_320x240.jpg" class="img-responsive img-thumnail" alt="" />
    </div>
    <div class="col-md-8">
    <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <label for="name">Email Address</label>
        <input
          class="form-control"
          id="email"
          type="email"
          value=''
          placeholder="E-Post"
          name="email"
          [(ngModel)]="email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          id="password"
          type="password"
          value=''
          placeholder="password"
          name="password"
          [(ngModel)]="password" required
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!email||!password||password.length < 6 ">Login
      </button>

      <p class="text-center">Plaese Do Registeration First !! <a href="/Register">Register</a></p>
     </form>
    </div>
  </div>
</div>
