<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border bottom shadow-sm"
>
  <h4 class="my-o mr-md-auto font-weight-normal navbar-brand">NetCom</h4>
  <nav>
      <small>
          <span *ngIf="user | async">Welcome {{ (user | async)?.email }} </span>
        </small>
    <a class="p-2 text-dark" routerLink="/Home"
      >Home <span class="sr-only">(current)</span></a>

    <a class="p-2 text-dark" routerLink="/Link">Link</a>
    <a class="p-2 text-dark" routerLink="/Vchat">Chat</a>
    <a class="p-2 text-dark" routerLink="/Event">Event</a>
    <a class="p-2 text-dark" routerLink="/Food">Food</a>
    <a class="p-2 text-dark" routerLink="/Support">Support</a>
  </nav>

  <div *ngIf="!(user | async)">
    <a  routerLink="/Login" class="btn btn-outline-primary"
      >Login</a
    >
    <a  routerLink="/Register" class="btn btn-outline-primary"
      >Sign Up</a
    >
  </div>
  <div *ngIf="user|async">
    <button class="btn btn-outline-secondary" (click)="signOut()">Signout
      </button>
  </div>
</div>
